Repository geospaitial-lab/aviary, pull requests merged in 2024-09, with the labels that each got.

#239 style: remove noinspection comments
  aviary/_utils/types.py
  aviary/data/data_fetcher.py
  aviary/geodata/geodata_postprocessor.py
  aviary/inference/exporter.py
  aviary/pipeline/postprocessing_pipeline.py
Labels: style, ignore for release

#244 cd(ghcr): fix build args
  .github/workflows/ghcr.yaml
Labels: cd

#245 refactor(`Dataset`): change data_preprocessor to optional
  aviary/_functional/data/dataset.py
  aviary/data/dataset.py
  aviary/pipeline/segmentation_pipeline.py
  docs/cli_reference/segmentation_pipeline.md
  docs/how_to_guides/cli/how_to_run_the_segmentation_pipeline.md
  tests/_functional/data/test_dataset.py
  tests/data/conftest.py
  tests/data/test_dataset.py
Labels: refactor

#246 style: enhance consistency
  aviary/_functional/data/data_preprocessor.py
  aviary/_functional/geodata/coordinates_filter.py
  aviary/_functional/geodata/geodata_postprocessor.py
  aviary/_utils/types.py
Labels: style, ignore for release

#248 style: enhance consistency
  aviary/_functional/data/data_fetcher.py
  aviary/_functional/inference/exporter.py
  aviary/_utils/types.py
  tests/_functional/geodata/test_coordinates_filter.py
  tests/inference/test_aviary.py
Labels: style, ignore for release

#249 refactor(`SegmentationExporter`): remove `OSError` check
  aviary/_functional/inference/exporter.py
Labels: refactor

#251 docs: add docs README
  dev/mkdocs.yaml
  docs/README.md
Labels: docs

#252 docs: add tests README
  tests/README.md
Labels: docs

#253 docs(how-to-guides): add table of contents
  docs/how_to_guides/cli/how_to_run_the_postprocessing_pipeline.md
  docs/how_to_guides/cli/how_to_run_the_segmentation_pipeline.md
  docs/how_to_guides/installation/how_to_install_aviary_with_docker.md
  docs/how_to_guides/installation/how_to_install_aviary_with_pip.md
Labels: docs

#254 ci: add check links workflow
  .github/workflows/check_links.yaml
Labels: ci

#256 ci(check-links): exclude files
  .github/workflows/check_links.yaml
Labels: ci

#257 docs(cli-reference): improve docs
  docs/cli_reference/index.md
Labels: docs

#258 docs(docstrings): enhance consistency
  aviary/data/data_fetcher.py
  aviary/data/data_preprocessor.py
  aviary/geodata/coordinates_filter.py
  aviary/geodata/geodata_postprocessor.py
  aviary/inference/exporter.py
  aviary/inference/model.py
Labels: docs, ignore for release

#260 ci: add check dependencies workflow
  .github/workflows/check_dependencies.yaml
Labels: ci

#261 ci(ci): check dependencies on all OSs
  .github/workflows/ci.yaml
Labels: ci

#262 ci(check-dependencies): check dependencies of latest release
  .github/workflows/check_dependencies.yaml
Labels: ci

#263 ci(check-dependencies): install ci requirements
  .github/workflows/check_dependencies.yaml
Labels: ci

#272 refactor(`ProcessArea`): remove redundant code
  aviary/_utils/types.py
Labels: refactor

#278 fix(`GeospatialFilter`): exclude touching tiles in intersection mode
  aviary/_functional/geodata/coordinates_filter.py
  tests/_functional/geodata/data/data_test_coordinates_filter.py
Labels: fix

#271 docs(how-to-guides): add how to use the process area
  dev/mkdocs.yaml
  docs/how_to_guides/api/data/districts.geojson
  docs/how_to_guides/api/how_to_use_the_process_area.md
  docs/how_to_guides/api/maps/process_area.html
  docs/how_to_guides/api/maps/process_area_add.html
  docs/how_to_guides/api/maps/process_area_append.html
  docs/how_to_guides/api/maps/process_area_filter_difference.html
  docs/how_to_guides/api/maps/process_area_filter_intersection.html
  docs/how_to_guides/api/maps/process_area_from_bounding_box.html
  docs/how_to_guides/api/maps/process_area_from_bounding_box_quantize.html
  docs/how_to_guides/api/maps/process_area_from_bounding_box_tile_size.html
  docs/how_to_guides/api/maps/process_area_from_gdf.html
  docs/how_to_guides/api/maps/process_area_from_gdf_districts.html
  docs/how_to_guides/api/maps/process_area_setter.html
  docs/how_to_guides/api/maps/process_area_sub.html
  docs/how_to_guides/api/notebooks/how_to_use_the_process_area.ipynb
  docs/how_to_guides/index.md
  pyproject.toml
Labels: docs

#279 docs(docstrings): enhance consistency
  aviary/_utils/types.py
Labels: docs, ignore for release

#280 chore: add Alex as a maintainer
  pyproject.toml
Labels: chore, ignore for release

#281 cd(bump-version): add commit signing
  .github/workflows/bump_version.yaml
Labels: cd

#282 docs(how-to-guides): add how to use the bounding box
  dev/mkdocs.yaml
  docs/how_to_guides/api/how_to_use_the_bounding_box.md
  docs/how_to_guides/api/maps/bounding_box.html
  docs/how_to_guides/api/maps/bounding_box_buffer_1.html
  docs/how_to_guides/api/maps/bounding_box_buffer_2.html
  docs/how_to_guides/api/maps/bounding_box_from_gdf.html
  docs/how_to_guides/api/maps/bounding_box_from_gdf_districts.html
  docs/how_to_guides/api/maps/bounding_box_quantize.html
  docs/how_to_guides/api/maps/bounding_box_setter.html
  docs/how_to_guides/api/notebooks/how_to_use_the_bounding_box.ipynb
  docs/how_to_guides/index.md
  pyproject.toml
Labels: docs

#283 docs(how-to-guides): add default value to zoom_start
  docs/how_to_guides/api/maps/process_area_from_gdf_districts.html
  docs/how_to_guides/api/notebooks/how_to_use_the_process_area.ipynb
Labels: docs

#284 docs(docstrings): enhance consistency
  aviary/_utils/types.py
Labels: docs, ignore for release

#286 ci(check-links): add notebooks
  .github/workflows/check_links.yaml
  dev/requirements/check_links_requirements.txt
Labels: ci

#287 ci(check-links): exclude maps
  .github/workflows/check_links.yaml
Labels: ci

#293 docs(how-to-guides): add iterable docs
  docs/how_to_guides/api/how_to_use_the_bounding_box.md
  docs/how_to_guides/api/how_to_use_the_process_area.md
  docs/how_to_guides/api/notebooks/how_to_use_the_bounding_box.ipynb
  docs/how_to_guides/api/notebooks/how_to_use_the_process_area.ipynb
Labels: docs

#294 ci(check-links): change user agent to curl
  .github/workflows/check_links.yaml
Labels: ci

#296 chore: add marker file for typing support
  aviary/py.typed
  pyproject.toml
Labels: chore

#297 chore: move code of conduct to .github directory
  .github/CODE_OF_CONDUCT.md
Labels: chore

#298 chore: add codeowners
  .github/CODEOWNERS
Labels: chore

#299 ci(check-links): change schedule to daily
  .github/workflows/check_links.yaml
Labels: ci

#300 feat(`ProcessArea`): add slicing
  aviary/_utils/types.py
  docs/how_to_guides/api/how_to_use_the_process_area.md
  docs/how_to_guides/api/notebooks/how_to_use_the_process_area.ipynb
  pyproject.toml
  tests/_utils/test_types.py
Labels: feat

#302 feat(`ProcessArea`): add intersection
  aviary/_utils/types.py
  docs/how_to_guides/api/how_to_use_the_process_area.md
  docs/how_to_guides/api/maps/process_area_and.html
  docs/how_to_guides/api/notebooks/how_to_use_the_process_area.ipynb
  tests/_utils/test_types.py
Labels: feat

#303 chore: match keywords in citation with topics of the repo
  CITATION.cff
Labels: chore, ignore for release

#304 refactor(`ProcessArea`): edit parameter order in to_gdf signature
  aviary/_utils/types.py
  docs/how_to_guides/api/how_to_use_the_process_area.md
  docs/how_to_guides/api/notebooks/how_to_use_the_process_area.ipynb
  tests/_utils/test_types.py
Labels: refactor

#305 ci(ci): check links
  .github/workflows/ci.yaml
Labels: ci

#306 ci: enhance consistency
  .github/workflows/check_links.yaml
  .github/workflows/ci.yaml
Labels: ci, ignore for release
